{% extends 'core/base.html' %}
{% block title %}Casos de Estudio{% endblock %}
{% block subtitle %}CASOS DE ESTUDIO{% endblock %}
{% block content %}
<div id="ContenedorFlex">
    <div id="caso_e">
        <h3>Lorem Ipsum 1</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Odio cumque odit enim. Soluta, esse odio. Quas
        alias consequuntur saepe ipsa nesciunt.</p>
        <p id="boton"><a href="#">Leer más...</a></p>
    </div>
    <div id="caso_e">
        <h3>Lorem Ipsum 2</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Odio cumque odit enim. Soluta, esse odio. Quas
        alias consequuntur saepe ipsa nesciunt.</p>
        <p id="boton"><a href="#">Leer más...</a></p>
    </div>
    <div id="caso_e">
        <h3>Lorem Ipsum 2</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Odio cumque odit enim. Soluta, esse odio. Quas
        alias consequuntur saepe ipsa nesciunt.</p>
        <p id="boton"><a href="#">Leer más...</a></p>
    </div>
    <div id="caso_e">
        <h3>Lorem Ipsum 2</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Odio cumque odit enim. Soluta, esse odio. Quas
        alias consequuntur saepe ipsa nesciunt.</p>
        <p id="boton"><a href="#">Leer más...</a></p>
    </div>
</div>
{% endblock %}
