{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}
{% block subtitle %}CONTACTO{% endblock %}
{% block content %}
<!-- NOTA: El atributo "name" es el que usamos para rescatar el contenido de cada input/textarea en las views con Django. Por ende, el formulario
que creemos en "forms.py"; sus campos deben de tener el mismo nombre que el atributo "name" de la etiqueta input o text area correspondiente. -->
<div id="formulario">
    <h3>Formulario de Contacto</h3>
    <p>Para comunicarse con nosotros rellene el siguiente formulario.</p>
    <p>Los campos marcados con asterisco <span style="color:red;">(*)</span> son obligatorios.</p>
    {% if "okform" in request.GET %}
        <p style="font-size:14px; color:green; padding-top:3%;"><i>Sus datos de contacto han sido enviados correctamente.</i></p>
    {% elif "formfailed" in request.GET %}
        <p style="font-size:14px; color:red; padding-top:3%;"><i>Verifique que los datos ingresados sean correctos.</i></p>
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <label for="Name">Nombre<span style="color:red;">*</span>:</label>
        <input type="text" name="nombre" id="Name" required autofocus autocomplete="off">
        
        <label for="Surname">Apellido<span style="color:red;">*</span>:</label>
        <input type="text" name="apellido" id="Surname" required autocomplete="off">

        <label for="Email">Correo<span style="color:red;">*</span>:</label>
        <input type="email" name="correo" id="Email" placeholder="daniel123@gmail.com" style="padding-left:1%;" required autocomplete="off">
        {% if "formfailed" in request.GET %}
            <p style="font-size:12px; color:red;">No olvide anteponer 55 a su número de teléfono local.</p>
        {% endif %}
        <label for="phone">Teléfono<span style="color:red;">*</span>:</label>
        <input type="tel" name="telefono" id="phone" placeholder="55-58-83-87-88" style="padding-left:1%;" required autocomplete="off">

        <label for="mobile">Celular:</label>
        <input type="tel" name="celular" id="mobile" placeholder="55-32-38-79-89" style="padding-left:1%;" autocomplete="off">

        <span id="instruccion">Diganos brevemente como podemos ayudarle:</span>
        <textarea name="contenido" rows="10" id="content"></textarea>

        <div id="terminos">
            <input type="checkbox" required> <small>Al enviar este formulario acepto las 
                <a href="#" target="_self">Política de privacidad</a> </small>. <!--<br>-->
        </div>

        <button type="submit" id="contactof"> Enviar Formulario </button>
    </form>
</div>
{% endblock %}