{% extends 'core/base.html' %}
{% block title %}Firma{% endblock %}
{% block subtitle %}FIRMA{% endblock %}
{% block content %}
<div id="PrimerContenidoFirma">
    <h2>Historia</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
    perspiciatis non laborum magnam numquam quisquam similique
    soluta iusto, quam unde repellendus consequuntur qui, velit ad
    adipisci dolorem nam fugit nemo!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Totam cupiditate delectus tenetur ex culpa, error sapiente,
    dolore quidem amet tempora necessitatibus perferendis omnis
    neque qui? Eos nisi consequatur in numquam.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Enim dolor libero facere mollitia ducimus consequuntur nostrum
    repellendus? Cum hic eligendi, quibusdam veniam corporis
    consequuntur harum impedit, nihil saepe accusantium ab.</p>

    <h2>Principios</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Sapiente corporis ea quae nihil saepe officiis accusamus id
    sequi qui tempora. Nobis eum aspernatur accusamus amet, sed
    voluptas ipsam odio? Aliquam?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Adipisci impedit dolor fugiat culpa quas pariatur eius at unde
    iste ratione, laboriosam nesciunt quidem velit qui, a ad soluta
    sunt consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Cupiditate facere repellat adipisci ea odit voluptatum vel
    quaerat deleniti veritatis quas. Alias aut quod, consequatur
    molestias obcaecati voluptatum expedita quisquam
    perspiciatis.</p>
</div>
{% endblock %}